node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Database
*.sqlite
*.sqlite-journal
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.vscode/

# Assets
/static/covers/

